<h4>Welcome Admin <%= current_user.username if current_user %></h4>
<p>
  <%= link_to 'New Self Task', new_self_task_path(:assignee_id => current_user.id)%><br>
  <%= link_to 'New User Task', new_task_path%><br>
  <%= link_to 'All Admin Tasks', tasks_path%><br>
  <%= link_to 'Assign Manager to User', add_manager_to_user_path%><br>
  <%= link_to 'All Tasks', all_tasks_path%><br>
  <%= link_to 'Archived Tasks', archived_tasks_path %><br>
  <%= link_to 'View Analytics', view_admin_analytics_path %>
</p>